.container{
	width:100%;
	background:#fff;
	margin:0 auto;
}
header{
	width:100%;
}
header .head_nav{
	width:100%; height:60px;
	background:rgba(21,24,27,0.3);
	position:fixed;
	top:0;
	z-index: 999;
	line-height: 60px;
}
header .head_nav img{
	float:left;
	margin-left:98px;
}
header .head_nav nav{
	float:right;
	margin-right:98px;
}
header .head_nav nav a{
	padding:20px 7px;
	margin-left:29px;
	color:#fff;
	font-size:16px;
}
header .head_nav nav a:hover{
	background: #bf4609;
}
.main_nav{
	width:1146px; height:125px;
	margin:0 auto;
	padding-top:44px;
}
.main_nav p{
	font-size:16px;
}
.main_nav p img{
	margin-right:10px;
}
.main_nav p a{
	color:#434343;
}
.main_nav p span a{
	color:#ba501b;
}
.main_nav h1{
	width:500px;
	margin:59px auto 0;
	text-align:center;
	font-size:24px;
	color:#2a5320;
	font-weight: 900;
}
.main_con{
	width:100%; height:1094px;
	background:#eee;
	padding-top:17px;
}
.main_con nav{
	width:538px; 
	margin:0 auto 31px;
}
.main_con nav a{
	padding:3px;
	margin:0 14px;
	color:#888;
}
.main_con nav .main_nava{
	background:#ff6e26;
	color:#fff;
}
.main_con ul{
	overflow: hidden;
	width:1200px;
	margin:0 auto;
}
.main_con ul li{
	width:289px; height:203px;
	position: relative;
	overflow: hidden;
	float:left;
	margin:5px;
}
.main_con ul li p{
	width:289px; height:68px;
	position:absolute;
	top:203px; left:0;
	background:rgba(17,17,16,0.7);
	text-align:center;
	color:#fff;
	font-weight: 900;
	padding-top:10px;
	transition:all 1s;
}
.main_con ul li:hover p{
	top:77px;
}
.main_con .paging{
	width:428px;
	margin:75px auto 0;
}
.main_con .paging a{
	padding:5px 10px;
	margin:2px;
	color:#7b7b7b;
}
.main_con .paging .paging_a{
	background:#f37e1f;
	color:#fff;
}
.main_con .paging a:hover{
	background:#f37e1f;
	color:#fff;
}

.foot{
	width:100%; height:68px;
	background:rgba(26,26,26,0.4);
	padding-top:20px;
	text-align: center;
}
.foot p{
	color:#666;
	font-size: 14px;
	margin:5px 0;
}


