<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文豆-新闻列表页</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/new_list.css">
</head>
<body>
	<div class="container">
		<a name="Top"></a>
		<header>
			<div class="head_nav">
				<a href="index.html">
					<img src="images/logo_01.png" alt="">
				</a>
				<nav>
					<a href="index.html">网站首页</a>
					<a href="case_list.html">案例展示</a>
					<a href="about.html">关于我们</a>
					<a href="new_list.html">资讯动态</a>
					<a href="contact.html">联系我们</a>
				</nav>
			</div>
			<div class="banner">
				<img src="images/banner_02.jpg" alt="">
			</div>
		</header>
		<div class="main_nav">
			<nav>
				<a href="new_list.html"><img src="images/new_icon_01.png" alt=""></a>
				<a href="">资讯动态</a>
				&gt;
				<a href=""><span>最新资讯</span></a>
			</nav>
			<h1>最新资讯</h1>
		</div>
		<div class="main">
			<div class="main_con">
				<img src="images/new_01.jpg" alt="">
				<div>01.22<span>2016</span></div>
				<dl>
					<dt><h2><a href="new_detailed.html">PHP系统设计与云架构</a></h2></dt>
					<dt><h3>[相关新闻]  2016-01-22 10:54:20</h3></dt>
					<dd>
						黑龙江水木创想科技发展有限公司 水木创想专注于互联网品牌建设及智慧医疗管理系统为业务核心。致力于为企事业单位、医疗、政府机构提供信息化服务。设计服务范围包括：网站设计与开发建设、智慧医疗管理系统、移动APP、电商系统、系统研发、软件定制开发、社区教育化平台等。目前与多家企事业单位保... 
						<a href="new_detailed.html">&lt;查看全文&gt;</a>
					</dd>
				</dl>
			</div>
			<div class="main_con">
				<img src="images/new_02.jpg" alt="">
				<div>01.22<span>2016</span></div>
				<dl>
					<dt><h2><a href="new_detailed.html">PHP系统设计与云架构</a></h2></dt>
					<dt><h3>[相关新闻]  2016-01-22 10:54:20</h3></dt>
					<dd>
						黑龙江水木创想科技发展有限公司 水木创想专注于互联网品牌建设及智慧医疗管理系统为业务核心。致力于为企事业单位、医疗、政府机构提供信息化服务。设计服务范围包括：网站设计与开发建设、智慧医疗管理系统、移动APP、电商系统、系统研发、软件定制开发、社区教育化平台等。目前与多家企事业单位保... 
						<a href="new_detailed.html">&lt;查看全文&gt;</a>
					</dd>
				</dl>
			</div>
			<div class="main_con">
				<img src="images/new_03.jpg" alt="">
				<div>01.22<span>2016</span></div>
				<dl>
					<dt><h2><a href="new_detailed.html">PHP系统设计与云架构</a></h2></dt>
					<dt><h3>[相关新闻]  2016-01-22 10:54:20</h3></dt>
					<dd>
						黑龙江水木创想科技发展有限公司 水木创想专注于互联网品牌建设及智慧医疗管理系统为业务核心。致力于为企事业单位、医疗、政府机构提供信息化服务。设计服务范围包括：网站设计与开发建设、智慧医疗管理系统、移动APP、电商系统、系统研发、软件定制开发、社区教育化平台等。目前与多家企事业单位保... 
						<a href="new_detailed">&lt;查看全文&gt;</a>
					</dd>
				</dl>
			</div>
			<div class="main_con">
				<img src="images/new_04.jpg" alt="">
				<div>01.22<span>2016</span></div>
				<dl>
					<dt><h2><a href="new_detailed.html">PHP系统设计与云架构</a></h2></dt>
					<dt><h3>[相关新闻]  2016-01-22 10:54:20</h3></dt>
					<dd>
						黑龙江水木创想科技发展有限公司 水木创想专注于互联网品牌建设及智慧医疗管理系统为业务核心。致力于为企事业单位、医疗、政府机构提供信息化服务。设计服务范围包括：网站设计与开发建设、智慧医疗管理系统、移动APP、电商系统、系统研发、软件定制开发、社区教育化平台等。目前与多家企事业单位保... 
						<a href="new_detailed.html">&lt;查看全文&gt;</a>
					</dd>
				</dl>
			</div>
			<div class="main_con">
				<img src="images/new_05.jpg" alt="">
				<div>01.22<span>2016</span></div>
				<dl>
					<dt><h2><a href="new_detailed.html">PHP系统设计与云架构</a></h2></dt>
					<dt><h3>[相关新闻]  2016-01-22 10:54:20</h3></dt>
					<dd>
						黑龙江水木创想科技发展有限公司 水木创想专注于互联网品牌建设及智慧医疗管理系统为业务核心。致力于为企事业单位、医疗、政府机构提供信息化服务。设计服务范围包括：网站设计与开发建设、智慧医疗管理系统、移动APP、电商系统、系统研发、软件定制开发、社区教育化平台等。目前与多家企事业单位保... 
						<a href="new_detailed.html">&lt;查看全文&gt;</a>
					</dd>
				</dl>
			</div>
			<div class="main_con">
				<img src="images/new_06.jpg" alt="">
				<div>01.22<span>2016</span></div>
				<dl>
					<dt><h2><a href="new_detailed.html">PHP系统设计与云架构</a></h2></dt>
					<dt><h3>[相关新闻]  2016-01-22 10:54:20</h3></dt>
					<dd>
						黑龙江水木创想科技发展有限公司 水木创想专注于互联网品牌建设及智慧医疗管理系统为业务核心。致力于为企事业单位、医疗、政府机构提供信息化服务。设计服务范围包括：网站设计与开发建设、智慧医疗管理系统、移动APP、电商系统、系统研发、软件定制开发、社区教育化平台等。目前与多家企事业单位保... 
						<a href="new_detailed.html">&lt;查看全文&gt;</a>
					</dd>
				</dl>
			</div>
			<nav>
				<a href="javascript:;">上一页</a>
				<a href="javascript:;">1</a>
				<a href="javascript:;">2</a>
				<a href="javascript:;">3</a>
				<a href="javascript:;">4</a>
				<a href="javascript:;">5</a>
				<a href="javascript:;">6</a>
				<a href="javascript:;">7</a>
				<a href="javascript:;">8</a>
				<a href="javascript:;">下一页</a>
			</nav>
		</div>
		<footer>
			<div class="contact">
				<div class="con_left">
					<a href="index.html">
						<img src="images/wdlogo.png" alt="">
					</a>
					<p>我们全心全意为你提供最优质的服务</p>
					<span>www.wengdo.cn</span>
				</div>
				<div class="con_center">
					<p>
						分享文章到：
						<a href="">
							<img src="images/new_icon_02.png" alt="">
						</a>
						<a href="">
							<img src="images/new_icon_03.png" alt="">
						</a>
						<a href="">
							<img src="images/new_icon_04.png" alt="">
						</a>
					</p>
				</div>
				<div class="con_right">
					<img src="images/detailed_ew.png" alt="">
				</div>
			</div>
			<div class="foot">
				<p>粤ICP备12022584号-3</p>
				<p>广州文豆网络科技有限公司 Copyright 2009-2015 ,All Rights Reserved wengdo</p>
			</div>
		</footer>
	</div>
</body>
</html>