<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文豆-关于我们</title>
	<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
	<script src="js/playImg.js"></script>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/about.css">
	<link rel="stylesheet" href="css/playImg.css">
</head>
<body>
	<div class="container">
		<header>
			<div class="head_nav" id="head_scroll">
				<a href="index.html">
					<img src="images/logo_01.png" alt="">
				</a>
				<nav>
					<a href="index.html">网站首页</a>
					<a href="case_list.html">案例展示</a>
					<a href="about.html">关于我们</a>
					<a href="new_list.html">资讯动态</a>
					<a href="contact.html">联系我们</a>
				</nav>
			</div>
			<div class="banner">
				<div id="con">
					<ul>
						<li><img id="img_one" src="images/banner_01.jpg" alt=""></li>
						<li><img src="images/banner_02.jpg" alt=""></li>
						<li><img src="images/banner_03.jpg" alt=""></li>
						<li><img src="images/banner_02.jpg" alt=""></li>
						<li><img src="images/banner_01.jpg" alt=""></li>
					</ul>
					<a id="prev" href="javascript:;"><img src="images/ban_prev.png" alt=""></a>
					<a id="next" href="javascript:;"><img src="images/ban_next.png" alt=""></a>
					<ol>
						<li class="oli"></li>
						<li></li>
						<li></li>
						<li></li>
					</ol>
				</div>
			</div>
		</header>
		<div class="main_nav">
			<nav>
				<a href="about.html"><img src="images/new_icon_01.png" alt=""></a>
				<a href="about.html"><span>关于我们</span></a>
			</nav>
			<h1>SIMIFLY</h1>
		</div>
		<div class="main">
			<p> 文豆网络，是一家提供互联网服务的高科技集团公司，集策划、设计、前端优化、研发、测试、系统运维、网站推广、运营、团队外包及互联网人才培养为一体的成熟业务体系。总部位于广州市客村立交财智大厦28楼。</p>
			<p>文豆主要提供高品质网站建设方案，电子商务平台解决方案，移动端应用开发方案（基于Android、iOS APP及移动端网站），微应用、微商城、微官网、微互动营销解决方案，企业信息化解决方案（OA、CRM），以及PHP网站开发、Java开发、UI设计、淘宝美工人才培养服务，人才外包服务，高端IT人才猎头服务。</p>
			<img src="images/about_01.jpg" alt="">
			<dl>
				<dt>公司的运营理念是：</dt>
				<dd>携手共进，共赢天下</dd>
				<dd>以结果为导向。树立好工作目标，监督过程，实现理想效果。</dd>
				<dd>打造一流的团队，创造一流的服务，成为一流的行业标志。</dd>
			</dl>
			<img src="images/about_02.jpg" alt="">
			<dl>
				<dt>员工职业发展：</dt>
				<dd>我们非常清楚职业发展计划对于每个员工的重要性。公司对人员的要求，更加看重心态，只要愿意成为文豆的一份子，公司都会让员工充分展示自己，发挥他们的潜力、才干和热情，在文豆走向职业的成功。</dd>
			</dl>
			<img src="images/about_03.jpg" alt="">
			<dl>
				<dt>服务理念：</dt>
				<dd>产品是核心，服务是灵魂，服务是命脉。</dd>
				<dd>走在行业的前端，创造新的至高点。</dd>
			</dl>
			<img src="images/about_04.jpg" alt="">
		</div>
		<footer>
			<div class="contact">
				<div class="con_left">
					<a href="index.html">
						<img src="images/wdlogo.png" alt="">
					</a>
					<p>我们全心全意为你提供最优质的服务</p>
					<span>www.wengdo.cn</span>
				</div>
				<div class="con_center">
					<p>
						分享文章到：
						<a href="">
							<img src="images/new_icon_02.png" alt="">
						</a>
						<a href="">
							<img src="images/new_icon_03.png" alt="">
						</a>
						<a href="">
							<img src="images/new_icon_04.png" alt="">
						</a>
					</p>
				</div>
				<div class="con_right">
					<img src="images/detailed_ew.png" alt="">
				</div>
			</div>
			<div class="foot">
				<p>粤ICP备12022584号-3</p>
				<p>广州文豆网络科技有限公司 Copyright 2009-2015 ,All Rights Reserved wengdo</p>
			</div>
		</footer>
	</div>
</body>
</html>
<!-- 导航滚动条 -->
<script src='js/nav_scroll.js'></script>