<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文豆-联系我们</title>
	<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
	<script src="js/playImg.js"></script>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/contact.css">
	<link rel="stylesheet" href="css/playImg.css">
</head>
<body>
	<div class="container">
		<header>
			<div class="head_nav" id="head_scroll">
				<a href="index.html">
					<img src="images/logo_01.png" alt="">
				</a>
				<nav>
					<a href="index.html">网站首页</a>
					<a href="case_list.html">案例展示</a>
					<a href="about.html">关于我们</a>
					<a href="new_list.html">资讯动态</a>
					<a href="contact.html">联系我们</a>
				</nav>
			</div>
			<div class="banner">
				<div id="con">
					<ul>
						<li><img id="img_one" src="images/banner_01.jpg" alt=""></li>
						<li><img src="images/banner_02.jpg" alt=""></li>
						<li><img src="images/banner_03.jpg" alt=""></li>
						<li><img src="images/banner_02.jpg" alt=""></li>
						<li><img src="images/banner_01.jpg" alt=""></li>
					</ul>
					<a id="prev" href="javascript:;"><img src="images/ban_prev.png" alt=""></a>
					<a id="next" href="javascript:;"><img src="images/ban_next.png" alt=""></a>
					<ol>
						<li class="oli"></li>
						<li></li>
						<li></li>
						<li></li>
					</ol>
				</div>
			</div>
		</header>
		<div class="main_nav">
			<nav>
				<a href="contact.html"><img src="images/new_icon_01.png" alt=""></a>
				<a href="contact.html"><span>联系我们</span></a>
			</nav>
			<h1>联系我们</h1>
		</div>
		<div class="main">
			<div class="main_left">
				<ul>
					<li>广州总部：广州海珠区广州大道南448号财智大厦28楼</li>
					<li>深圳总部：深圳福田区福华路322号文蔚大厦4楼</li>
					<li>广州番禺分部：广州市番禺区市桥光明北路12号锦绣华庭三座404</li>
					<li>广州增城分部：广州增城区荔城花园东门32号</li>
					<li>广州大学城分部：广州大学城中七路大学时光首层</li>
					<li>广州白云分部：广州市白云区从云路839号利都商务中心B911</li>
					<li>惠州分部：惠州市惠城区江北三新南路3号名流公馆10层05室</li>
					<li>佛山分部:佛山市南海区桂城南新一路16号首层</li>
					<li>东莞分部：东莞市莞城区汇峰中心E区1002室</li>
					<li>肇庆分部：肇庆市端州区端州五路18号大楼四楼长江教育(市人才大厦前)</li>
					<li>集团广告创意部：广州市荔湾区芳村培真路2号之2鹤展创意园A栋2楼</li>
				</ul>
				<ol>
					<li>广州总部：440-888-8888 <span>深圳总部：0755-66691037</span></li>
					<li>Msn/E-mail:seven@wengdo.com</li>
				</ol>
			</div>
			<div class="main_right">
				<form action="">
					<div>
					<p>欢迎来电咨询或者表单联系我们/Contact us</p>
					<p>您的姓名：</p>
					<input type="text" name="" id="">
					<p>您的邮箱：</p>
					<input type="text" name="" id="">
					<p>您的电话：</p>
					<input type="text" name="" id="">
					<p>输入您要服务的内容：</p>
					<textarea name="" id="" cols="30" rows="10"></textarea>
					</div>
					<p>
						<input type="image" src="images/submit.gif" alt="">
					</p>
				</form>
			</div>
			<div class="map">
				<iframe src="map.html" frameborder="0"></iframe>
			</div>
		</div>
		<footer>
			<div class="contact">
				<div class="con_left">
					<a href="index.html">
						<img src="images/wdlogo.png" alt="">
					</a>
					<p>我们全心全意为你提供最优质的服务</p>
					<span>www.wengdo.cn</span>
				</div>
				<div class="con_center">
					<p>
						分享文章到：
						<a href="">
							<img src="images/new_icon_02.png" alt="">
						</a>
						<a href="">
							<img src="images/new_icon_03.png" alt="">
						</a>
						<a href="">
							<img src="images/new_icon_04.png" alt="">
						</a>
					</p>
				</div>
				<div class="con_right">
					<img src="images/detailed_ew.png" alt="">
				</div>
			</div>
			<div class="foot">
				<p>粤ICP备12022584号-3</p>
				<p>广州文豆网络科技有限公司 Copyright 2009-2015 ,All Rights Reserved wengdo</p>
			</div>
		</footer>
	</div>
</body>
</html>
<!-- 导航滚动条 -->
<script src='js/nav_scroll.js'></script>