<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文豆-留言页</title>
	<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
	<script src="js/playImg.js"></script>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/message.css">
	<link rel="stylesheet" href="css/playImg.css">
</head>
<body>
	<div class="container">
		<header>
			<div class="head_nav" id="head_scroll">
				<a href="index.html">
					<img src="images/logo_01.png" alt="">
				</a>
				<nav>
					<a href="index.html">网站首页</a>
					<a href="case_list.html">案例展示</a>
					<a href="about.html">关于我们</a>
					<a href="new_list.html">资讯动态</a>
					<a href="contact.html">联系我们</a>
				</nav>
			</div>
			<div class="banner">
				<div id="con">
					<ul>
						<li><img id="img_one" src="images/banner_01.jpg" alt=""></li>
						<li><img src="images/banner_02.jpg" alt=""></li>
						<li><img src="images/banner_03.jpg" alt=""></li>
						<li><img src="images/banner_02.jpg" alt=""></li>
						<li><img src="images/banner_01.jpg" alt=""></li>
					</ul>
					<a id="prev" href="javascript:;"><img src="images/ban_prev.png" alt=""></a>
					<a id="next" href="javascript:;"><img src="images/ban_next.png" alt=""></a>
					<ol>
						<li class="oli"></li>
						<li></li>
						<li></li>
						<li></li>
					</ol>
				</div>
			</div>
		</header>
		<div class="main_nav">
			<nav>
				<a href="index.html">首页</a>
				&gt;
				<a href="">用户中心</a>
			</nav>
		</div>
		<div class="main">
			<div class="main_left">
				<div class="phone">
					<div><img src="images/user_01.gif" alt=""></div>
					<p>username</p>
				</div>
				<p>基本信息</p>
				<p class="p1">客户留言</p>
			</div>
			<div class="main_right">
				<h1>用户留言</h1>
				<div class="main_r_con">
					<p>2014-04-14 11:00</p>
					<dl>
						<dt>username:</dt>
						<dt>我想咨询电子商务网站建设。</dt>
						<dd>邮箱：username@qq.com &nbsp;&nbsp; 电话：13712341234</dd>
					</dl>
				</div>
				<div class="main_r_con">
					<p>2014-04-14 11:00</p>
					<dl>
						<dt>username:</dt>
						<dt>我想咨询电子商务网站建设。</dt>
						<dd>邮箱：username@qq.com &nbsp;&nbsp; 电话：13712341234</dd>
					</dl>
				</div>
				<div class="main_r_con">
					<p>2014-04-14 11:00</p>
					<dl>
						<dt>username:</dt>
						<dt>我想咨询电子商务网站建设。</dt>
						<dd>邮箱：username@qq.com &nbsp;&nbsp; 电话：13712341234</dd>
					</dl>
				</div>
				<div class="main_r_con">
					<p>2014-04-14 11:00</p>
					<dl>
						<dt>username:</dt>
						<dt>我想咨询电子商务网站建设。</dt>
						<dd>邮箱：username@qq.com &nbsp;&nbsp; 电话：13712341234</dd>
					</dl>
				</div>
				<nav>
					<a href="javascript:;">1</a>
					<a href="javascript:;">2</a>
					<a href="javascript:;">3</a>
					<a href="javascript:;">4</a>
					<a href="javascript:;">5</a>
					<a href="javascript:;">6</a>
					<a href="javascript:;">7</a>
					<a href="javascript:;">8</a>
					<a href="javascript:;">&gt;</a>
					<a href="javascript:;">&gt;&gt;</a>
					<span>共3页/19条</span>
				</nav>
			</div>
		</div>
		<div class="bottom"></div>
		<div class="foot">
			<p>粤ICP备12022584号-3</p>
			<p>广州文豆网络科技有限公司 Copyright 2009-2015 ,All Rights Reserved wengdo</p>
		</div>
	</div>
</body>
</html>
<!-- 导航滚动条 -->
<script src='js/nav_scroll.js'></script>