<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文豆-案例详情页</title>
	<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
	<script src="js/playImg.js"></script>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/case.css">
	<link rel="stylesheet" href="css/playImg.css">
</head>
<body>
	<div class="container">
		<a name="Top"></a>
		<header>
			<div class="head_nav" id="head_scroll">
				<a href="index.html">
					<img src="images/logo_01.png" alt="">
				</a>
				<nav>
					<a href="index.html">网站首页</a>
					<a href="case_list.html">案例展示</a>
					<a href="about.html">关于我们</a>
					<a href="new_list.html">资讯动态</a>
					<a href="contact.html">联系我们</a>
				</nav>
			</div>
			<div class="banner">
				<div id="con">
					<ul>
						<li><img id="img_one" src="images/banner_01.jpg" alt=""></li>
						<li><img src="images/banner_02.jpg" alt=""></li>
						<li><img src="images/banner_03.jpg" alt=""></li>
						<li><img src="images/banner_02.jpg" alt=""></li>
						<li><img src="images/banner_01.jpg" alt=""></li>
					</ul>
					<a id="prev" href="javascript:;"><img src="images/ban_prev.png" alt=""></a>
					<a id="next" href="javascript:;"><img src="images/ban_next.png" alt=""></a>
					<ol>
						<li class="oli"></li>
						<li></li>
						<li></li>
						<li></li>
					</ol>
				</div>
			</div>
		</header>
		<div class="main_nav">
			<nav>
				<a href="case.html"><img src="images/new_icon_01.png" alt=""></a>
				<a href="case.html">案例展示</a>
				&gt;
				<a href="">企业品牌网站</a>
				&gt;
				<a href="case.html"><span>SIMIFLY</span></a>
			</nav>
			<h1>SIMIFLY</h1>
			<p>
				<a href="">
					<img src="images/new_icon_02.png" alt="">
				</a>
				<a href="">
					<img src="images/new_icon_03.png" alt="">
				</a>
				<a href="">
					<img src="images/new_icon_04.png" alt="">
				</a>
			</p>
		</div>
		<div class="main">
			<div class="main_con">
				<img src="images/case_ditailed_01.jpg" alt="">
				<img src="images/case_ditailed_02.jpg" alt="">
				<img src="images/case_ditailed_03.jpg" alt="">
				<img src="images/case_ditailed_04.jpg" alt="">
				<img src="images/case_ditailed_05.jpg" alt="">
				<div class="main_bot">
					<a href="javascript:;">
						<img src="images/detailed_prev.png" alt="">
					</a>
					<a href="javascript:;">
						<img src="images/detailed_next.png" alt="">
					</a>
				</div>
			</div>
		</div>
		<footer>
			<div class="contact">
				<div class="con_left">
					<a href="index.html">
						<img src="images/wdlogo.png" alt="">
					</a>
					<p>我们全心全意为你提供最优质的服务</p>
					<span>www.wengdo.cn</span>
				</div>
				<div class="con_center">
					<p>
						分享文章到：
						<a href="">
							<img src="images/new_icon_02.png" alt="">
						</a>
						<a href="">
							<img src="images/new_icon_03.png" alt="">
						</a>
						<a href="">
							<img src="images/new_icon_04.png" alt="">
						</a>
					</p>
				</div>
				<div class="con_right">
					<img src="images/detailed_ew.png" alt="">
				</div>
			</div>
			<div class="foot">
				<p>粤ICP备12022584号-3</p>
				<p>广州文豆网络科技有限公司 Copyright 2009-2015 ,All Rights Reserved wengdo</p>
			</div>
		</footer>
	</div>
	<aside>
		<div></div>
		<p>
			<span>020-66668888</span>
			<a href="">
				<img src="images/icon_01.png" alt="">
			</a>
		</p>
		<p>
			<span>66668888</span>
			<a href="">
				<img src="images/icon_02.png" alt="">
			</a>
		</p>
		<p>
			<span>人才招聘</span>
			<a href="">
				<img src="images/icon_03.png" alt="">
			</a>
		</p>
		<p>
			<span>回到顶部</span>
			<a href="#Top">
				<img src="images/icon_04.png" alt="">
			</a>
		</p>
	</aside>
</body>
</html>
<!-- 导航滚动条 -->
<script src='js/nav_scroll.js'></script>
<script>
	// 侧边导航条（右边）
	var aside=document.getElementsByTagName('aside')[0];
	var p=aside.getElementsByTagName('p');
	var span=aside.getElementsByTagName('span');

	for(var i=0; i<p.length; i++){
		p[i].onmouseover=function(){
			this.className='box_bg';
		}
		p[i].onmouseout=function(){
			this.className='';
		}
	}
</script>