<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文豆-案例列表页</title>
	<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
	<script src="js/playImg.js"></script>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/case_list.css">
	<link rel="stylesheet" href="css/playImg.css">
</head>
<body>
	<div class="container">
		<header>
			<div class="head_nav" id="head_scroll">
				<a href="index.html">
					<img src="images/logo_01.png" alt="">
				</a>
				<nav>
					<a href="index.html">网站首页</a>
					<a href="case_list.html">案例展示</a>
					<a href="about.html">关于我们</a>
					<a href="new_list.html">资讯动态</a>
					<a href="contact.html">联系我们</a>
				</nav>
			</div>
			<div class="banner">
				<div id="con">
					<ul>
						<li><img id="img_one" src="images/banner_01.jpg" alt=""></li>
						<li><img src="images/banner_02.jpg" alt=""></li>
						<li><img src="images/banner_03.jpg" alt=""></li>
						<li><img src="images/banner_02.jpg" alt=""></li>
						<li><img src="images/banner_01.jpg" alt=""></li>
					</ul>
					<a id="prev" href="javascript:;"><img src="images/ban_prev.png" alt=""></a>
					<a id="next" href="javascript:;"><img src="images/ban_next.png" alt=""></a>
					<ol>
						<li class="oli"></li>
						<li></li>
						<li></li>
						<li></li>
					</ol>
				</div>
			</div>
		</header>
		<div class="main_nav">
			<p>
				<img src="images/new_icon_01.png" alt="">
				<a href="case.html">案例展示</a>
				&gt;
				<span><a href="">企业品牌网站</a></span>
			</p>
			<h1>案例展示</h1>
		</div>
		<div class="main_con">
			<nav>
				<a class="main_nava" href="">企业品牌网站</a>
				<a href="">电子商务网站</a>
				<a href="">门户型网站</a>
				<a href="">管理系统</a>
				<a href="">APP应用</a>
			</nav>
			<ul>
				<li>
					<a href="case.html">
						<img src="images/case_001.jpg" alt="">
						<p>
							<img src="images/look.png" alt="">
							<br>
							<span>simifly---Home</span>
						</p>
					</a>
				</li>
				<li>
					<a href="case.html">
						<img src="images/case_002.jpg" alt="">
						<p>
							<img src="images/look.png" alt="">
							<br>
							<span>simifly---Home</span>
						</p>
					</a>
				</li>
				<li>
					<a href="case.html">
						<img src="images/case_003.jpg" alt="">
						<p>
							<img src="images/look.png" alt="">
							<br>
							<span>simifly---Home</span>
						</p>
					</a>
				</li>
				<li>
					<a href="case.html">
						<img src="images/case_004.jpg" alt="">
						<p>
							<img src="images/look.png" alt="">
							<br>
							<span>simifly---Home</span>
						</p>
					</a>
				</li>
				<li>
					<a href="case.html">
						<img src="images/case_005.jpg" alt="">
						<p>
							<img src="images/look.png" alt="">
							<br>
							<span>simifly---Home</span>
						</p>
					</a>
				</li>
				<li>
					<a href="case.html">
						<img src="images/case_006.jpg" alt="">
						<p>
							<img src="images/look.png" alt="">
							<br>
							<span>simifly---Home</span>
						</p>
					</a>
				</li>
				<li>
					<a href="case.html">
						<img src="images/case_007.jpg" alt="">
						<p>
							<img src="images/look.png" alt="">
							<br>
							<span>simifly---Home</span>
						</p>
					</a>
				</li>
				<li>
					<a href="case.html">
						<img src="images/case_008.jpg" alt="">
						<p>
							<img src="images/look.png" alt="">
							<br>
							<span>simifly---Home</span>
						</p>
					</a>
				</li>
				<li>
					<a href="case.html">
						<img src="images/case_009.jpg" alt="">
						<p>
							<img src="images/look.png" alt="">
							<br>
							<span>simifly---Home</span>
						</p>
					</a>
				</li>
				<li>
					<a href="case.html">
						<img src="images/case_010.jpg" alt="">
						<p>
							<img src="images/look.png" alt="">
							<br>
							<span>simifly---Home</span>
						</p>
					</a>
				</li>
				<li>
					<a href="case.html">
						<img src="images/case_011.jpg" alt="">
						<p>
							<img src="images/look.png" alt="">
							<br>
							<span>simifly---Home</span>
						</p>
					</a>
				</li>
				<li>
					<a href="case.html">
						<img src="images/case_012.jpg" alt="">
						<p>
							<img src="images/look.png" alt="">
							<br>
							<span>simifly---Home</span>
						</p>
					</a>
				</li>
				<li>
					<a href="case.html">
						<img src="images/case_013.jpg" alt="">
						<p>
							<img src="images/look.png" alt="">
							<br>
							<span>simifly---Home</span>
						</p>
					</a>
				</li>
				<li>
					<a href="case.html">
						<img src="images/case_014.jpg" alt="">
						<p>
							<img src="images/look.png" alt="">
							<br>
							<span>simifly---Home</span>
						</p>
					</a>
				</li>
				<li>
					<a href="case.html">
						<img src="images/case_015.jpg" alt="">
						<p>
							<img src="images/look.png" alt="">
							<br>
							<span>simifly---Home</span>
						</p>
					</a>
				</li>
				<li>
					<a href="case.html">
						<img src="images/case_016.jpg" alt="">
						<p>
							<img src="images/look.png" alt="">
							<br>
							<span>simifly---Home</span>
						</p>
					</a>
				</li>
			</ul>
			<div class="paging">
				<a href="javascript:;">上一页</a>
				<a href="javascript:;" class="paging_a">1</a>
				<a href="javascript:;">2</a>
				<a href="javascript:;">3</a>
				<a href="javascript:;">4</a>
				<a href="javascript:;">5</a>
				<a href="javascript:;">6</a>
				<a href="javascript:;">7</a>
				<a href="javascript:;">8</a>
				<a href="javascript:;">下一页</a>
			</div>
		</div>
		<footer>
			<div class="foot">
				<p>粤ICP备12022584号-3</p>
				<p>广州文豆网络科技有限公司 Copyright 2009-2015 ,All Rights Reserved wengdo</p>
			</div>
		</footer>
	</div>
</body>
</html>
<!-- 导航滚动条 -->
<script src='js/nav_scroll.js'></script>