<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文豆-注册页</title>
	<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
	<script src="js/playImg.js"></script>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/register.css">
	<link rel="stylesheet" href="css/playImg.css">
</head>
<body>
	<div class="container">
		<header>
			<div class="head_nav" id="head_scroll">
				<a href="index.html">
					<img class="logo" src="images/logo_01.png" alt="">
				</a>
				<nav>
					<a href="index.html">网站首页</a>
					<a href="case_list.html">案例展示</a>
					<a href="about.html">关于我们</a>
					<a href="new_list.html">资讯动态</a>
					<a href="contact.html">联系我们</a>
					<a href="index.html">
						<img src="images/nav_s.png" alt="">
					</a>
				</nav>
			</div>
			<div class="banner">
				<div id="con">
					<ul>
						<li><img id="img_one" src="images/log.jpg" alt=""></li>
						<li><img src="images/log.jpg" alt=""></li>
						<li><img src="images/log.jpg" alt=""></li>
						<li><img src="images/log.jpg" alt=""></li>
						<li><img src="images/log.jpg" alt=""></li>
					</ul>
					<a id="prev" href="javascript:;"><img src="images/ban_prev.png" alt=""></a>
					<a id="next" href="javascript:;"><img src="images/ban_next.png" alt=""></a>
					<ol>
						<li class="oli"></li>
						<li></li>
						<li></li>
						<li></li>
					</ol>
				</div>
			</div>
		</header>
		<div class="log">
			<div class="phone"><img src="images/user_01.gif" alt=""></div>
			<h1>用户登录</h1>
			<form action="">
				<div class="clear"></div>
				<p class="txt_input txt_inp01">
					<input type="text" name="username" placeholder="用户名" id="">
				</p>
				<p class="txt_input txt_inp02">
					<input type="password" name="pass" placeholder="密 码" id="">
				</p>
				<p class="txt_input txt_inp02">
					<input type="password" name="pass1" placeholder="重复密码" id="">
				</p>
				<p class="txt_input txt_inp03">
					<input type="text" name="phone" placeholder="手机号" id="">
				</p>
				<div class="pas">
					<input type="text" name="demo" id="" placeholder="手机验证码">
					<a href="javascript:;">获取验证码</a>
				</div>
				<input class="submit" type="submit" value="立即注册">
				<a class="register" href="">以后账号，登录文豆</a>
			</form>
		</div>

		<div class="foot">
			<p>粤ICP备12022584号-3</p>
			<p>广州文豆网络科技有限公司 Copyright 2009-2015 ,All Rights Reserved wengdo</p>
		</div>
	</div>
</body>
</html>
<!-- 导航滚动条 -->
<script src='js/nav_scroll.js'></script>